# Python

**pycache**/
\*.py\[cod]
\*.so
\*.egg
\*.egg-info/
.eggs/
\*.pyc

# Virtual environments

venv/
ENV/
env/
env.bak/

# Django stuff

\*.log
db.sqlite3
media/
staticfiles/

# Django migrations

*/migrations/*.py
*/migrations/*.pyc
!\*/migrations/**init**.py

# IDEs and editors

.vscode/
.idea/
\*.sublime-project
\*.sublime-workspace

# OS files

.DS\_Store
Thumbs.db

# C build outputs

\*.o
\*.obj
\*.dll
\*.so
\*.dylib
\*.exe

# Environment variables

.env
.env.\*

# Logs

logs/

# Coverage reports

htmlcov/
.coverage
